<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>

<!--    <script src="../lib/chart/dist/Chart.min.js"></script>-->
</head>

<body>
   <div class="title-search-div row">
        <h3 class="menu-title">业绩&提成</h3>
    </div>
    
    <div class="chart-container">

        <div id="chart-line" style="width:450px; height:400px;"></div>
        <div id="chart-par" style="width:450px; height:400px;"></div>
    </div>
    
    <div class="title-search-div row">
        <h3 class="menu-title">业绩详情</h3>
        <input type="text" class="title-search-input form-control" placeholder="请输入名称" />
    </div>
    <table class="table table-bordered table-hover">
        <tr class="active">
            <th>名称</th>
            <th>业绩</th>
            <th>提成</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>王钢蛋</td>
            <td>302203</td>
            <td>234</td>
            <td>
                <i class="icon icon-xiangqing"></i>
            </td>
        </tr>
        <tr>
            <td>江铁锤</td>
            <td>2342341</td>
            <td>6784</td>
            <td>
                <i class="icon icon-xiangqing"></i>
            </td>
        </tr>
        <tr>
            <td>江铁锤</td>
            <td>2342341</td>
            <td>6784</td>
            <td>
                <i class="icon icon-xiangqing"></i>
            </td>
        </tr>
    </table>
    <div class="pages-div">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#" aria-label="Previous">
                        上一页
                    </a>
                </li>
                <li>
                    <a href="#" class="page-num">1</a>
                </li>
                <li>
                    <a href="#" class="page-num">2</a>
                </li>
                <li>
                    <a href="#" class="page-num">3</a>
                </li>
                <li>
                    <a href="#" class="page-num">4</a>
                </li>
                <li>
                    <a href="#" class="page-num">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        下一页
                    </a>
                </li>
                <li>
                    <a href="#">尾页</a>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChartLine = echarts.init(document.getElementById('chart-line'));
        var myChartPar = echarts.init(document.getElementById('chart-par'));

         // 指定图表的配置项和数据
        optionLine = {
            //            title: {
            //                text: '折线图堆叠'
            //            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: [ '销售业绩', '销售提成']
            },
            grid: {
//                left: '3%',
//                right: '4%',
//                bottom: '3%',
//                containLabel: true
            },
//            toolbox: {
//                feature: {
//                    saveAsImage: {}
//                }
//            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '销售提成',
                type: 'line',
                stack: '总量',
                data: [120, 132, 101, 134, 90, 230]
            },{
                name: '销售业绩',
                type: 'line',
                stack: '总量',
                data: [820, 932, 901, 934, 1290, 1330]
            }]
        };

        optionPar = {
            title: {
//                text: '某站点用户访问来源',
//                subtext: '纯属虚构',
//                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
//                orient: 'vertical',
//                left: 'left',
                data: ['个人业绩', '团队业绩']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
//            toolbox: {
//                feature: {
//                    saveAsImage: {}
//                }
//            },
            series: [{
                name: '业绩占比',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [{
                    value: 335,
                    name: '个人业绩'
                },{
                    value: 1548,
                    name: '团队业绩'
                }],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };


//        console.log(optionLine);
//        console.log(optionPar);
         // 使用刚指定的配置项和数据显示图表。
        myChartLine.setOption(optionLine);
        myChartPar.setOption(optionPar);
    </script>

</body>

</html>