<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body>
    <dl>
        <dt>
            <labal class="lines-title-item">待分配客户信息</labal>
            <div class="lines-item-icon">
                <i id="dl_add_icon" class="icon icon-tianjia line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="分配" data-modal="adddlr"></i>
            </div>
        </dt>
        <dd>
            <labal class="lines-item">客户A</labal>
<!--            <i class="icon icon-xiangqing line-icon"></i>-->
            <div class="lines-item-icon">
                 <input type="checkbox"/>
               <!--
                <i class="icon icon-xiangqing line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="详情"></i>
                <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
                <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>
-->
            </div>
        </dd>
        <dd>
            <labal class="lines-item">客户B</labal>
<!--            <i class="icon icon-xiangqing line-icon"></i>-->
            <div class="lines-item-icon">
                  <input type="checkbox"/>
               <!--
                <i class="icon icon-xiangqing line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="详情"></i>
                <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
                <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>
-->
            </div>
        </dd>
        <dd>
            <labal class="lines-item">客户C</labal>
<!--            <i class="icon icon-xiangqing line-icon"></i>-->
            <div class="lines-item-icon">
                  <input type="checkbox"/>
               <!--
                <i class="icon icon-xiangqing line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="详情"></i>
                <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
                <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>
-->
            </div>
        </dd>
        <dd>
            <labal class="lines-item">客户D</labal>
<!--            <i class="icon icon-xiangqing line-icon"></i>-->
            <div class="lines-item-icon">
                <input type="checkbox"/>
               <!--
                <i class="icon icon-xiangqing line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="详情"></i>
                <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
                <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>
-->
            </div>
        </dd>

    </dl>
    
    
    
    
     <!--    模态框开始-->
    <div class="modal fade" id="adddlr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">       <!--更改id,便于监听事件的调用-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">分配销售</h4>
                </div>
                <div class="modal-body">
                    <!--                   填写信息的块状输入 +++++++开始-->

                    <div class="row form-input-box">

                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">在职销售</lable>
                        </div>
<!--
                        
                        <div class="col-md-9 input-input-box">
                            <input type="text"  id="add-dl-model-xs-name" class="form-control input-input" />添加销售员name
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
-->
                       <div class="col-md-9 input-input-box">
                           <input list="pasta"  id="add-dl-model-xs-name" class="form-control input-input">
                       </div>
                          <datalist id="pasta">
                            <option>在职销售1</option>
                            <option>在职销售2</option>
                            <option>在职销售3</option>
                            <option>在职销售5</option>
                            <option>在职销售6</option>
                            <option>在职销售7</option>
                            <option>在职销售8</option>
                            <option>在职销售9</option>
                            <option>在职销售10</option>
                            <option>在职销售11</option>
                          </datalist>
                    </div>

                   
                    
                       <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">销售id</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="text" id="add-dl-model-xs-id" class="form-control input-input"  readonly/><!--添加销售员id-->
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
                       </div>
                    
<!--
                    <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">用户名</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="text" class="form-control input-input" />
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
                    </div>

                      
<!--
                    <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">密码</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="password" class="form-control input-input" />
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
                    </div>
-->
                    
<!--
                    <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">确认密码</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="password" class="form-control input-input" />
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
                    </div>
-->
                    
                    <!--                   填写信息的块状输入 +++++++结束-->
<!--
                    <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">名称</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="text" class="form-control input-input" />
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">
                                这是提示信息
                            </span>
                        </div>
                    </div>
-->
                  <!-- <div class="row form-input-box">
                        <div class="col-md-2 input-lable-box">
                            <lable class="input-lable">代理人</lable>
                        </div>
                        <div class="col-md-9 input-input-box">
                            <input type="text" class="form-control input-input" />
                        </div>
                        <div class="col-md-9 col-md-offset-2 input-msg-box">
                            <span class="input-msg">这是提示信息</span>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="button button-primary button-small modal-button">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!--*************模态框结束*************-->

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>
   
</script>
</body>

</html>