<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body>
    <div class="modal fade" id="adddlr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">       
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">离职变更</h4>
                </div>
                <div class="modal-body">
<!--          **************************************************************             -->
        <div class="item_model">
                <div class="input_model">
                    <input type="text" placeholder="请输入离职销售">
                </div>
            <div>
                <dl>
                    <dt>
                        <labal class="lines-title-item">公司信息</labal>
                    </dt>
                    <div>              <!--用来添加滚动条div-->
                       <dd data-refresh-item="sales" data-fgs-value-id="100" >
                            <labal class="lines-item">销售1</labal>                   
                        </dd>
                        <dd data-refresh-item="sales">
                            <labal class="lines-item">销售2</labal>                   
                        </dd>
                        <dd data-refresh-item="sales">
                            <labal class="lines-item">销售3</labal>                  
                        </dd>
                        <dd data-refresh-item="sales">
                            <labal class="lines-item">销售4</labal> 
                        </dd> 
                    </div>
               </dl>
           </div>      
        </div>
<!--                ************************************************************-->
                       
            <div class="item_model">
                <div class="zhanwei_model"></div>
                <div>
                    <dl>
                        <dt>
                            <labal class="lines-title-item">公司信息</labal>
                        </dt>
                        <div>               <!--用来添加滚动条div-->
                           <dd data-refresh-item="sales" data-fgs-value-id="100" >
                                <labal class="lines-item"><input type="checkbox">&nbsp;&nbsp;客户A</labal>                   
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item"><input type="checkbox">&nbsp;&nbsp;客户B</labal>                   
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item"><input type="checkbox">&nbsp;&nbsp;客户C</labal>                  
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item"><input type="checkbox">&nbsp;&nbsp;客户D</labal> 
                            </dd> 
                        </div>
                   </dl>
                </div>      
            </div>
<!--                   *********************************************************    -->
            <div class="item_model">
                <div class="input_model" >
                    <input type="text" placeholder="请输入在职销售">
                </div>
                <div>
                    <dl>
                        <dt>
                            <labal class="lines-title-item">公司信息</labal>
                        </dt>
                        <div>           <!--用来添加滚动条div-->                                           
                           <dd data-refresh-item="sales" data-fgs-value-id="100" >
                                <labal class="lines-item">在职销售1</labal>                   
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item">在职销售2</labal>                   
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item">在职销售3</labal>                  
                            </dd>
                            <dd data-refresh-item="sales">
                                <labal class="lines-item">在职销售4</labal> 
                            </dd> 
                        </div>
                   </dl>
               </div>      
            </div> 
<!--               ****************************************************************************** -->
                <div class="modal-footer footer">
                    <button type="button" class="button button-primary button-small modal-button">提交</button>
                </div>
            
            </div>
            </div>
        </div>
    </div>

    <!--*************模态框结束*************-->

   

</body>

</html>