<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body> 
    <div class="modal fade" id="adddlr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">       
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">离职变更</h4>
                </div>
                <div class="modal-body">
                       
                        <div class="item_model">
                           <div class="input_model">
                               <input type="text" placeholder="search">
                           </div>
                         <div class="wrapper">
                           <div class="title">
                               <h5 class="lines-title-item"><strong>离职销售</strong></h5>
                           </div>
                           <div class="scroll_model">
                            <dl style="border:0px">
                               
                                <dd>销售1</dd>
                                <dd>销售2</dd>
                                <dd>销售3</dd>
                                <dd>销售4</dd>
                                <dd>销售5</dd>
                                
                            </dl>
                        </div> 
                     </div>      
                    </div>
                
                       
                    <div class="item_model">
                      <div class="zhanwei_model"></div>
                        <div class="wrapper">
                        <div class="title">
                            <h5 class="lines-title-item"><strong>客户信息</strong></h5>
                        </div> 
                        <div class="scroll_model">              
                            <dl style="border:0px">
                               
                                <dd><input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户1</dd>
                                <dd><input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户2</dd>
                                <dd><input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户3</dd>
                                <dd><input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户4</dd>
                                <dd><input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户5</dd>
                                
                            </dl>
                        </div>  
                        </div>   
                    </div>
                       
                        <div class="item_model">
                           <div class="input_model" >
                               <input type="text" placeholder="search">
                           </div>
                                  <div class="wrapper">
                           <div class="title">
                               <h5 class="lines-title-item"><strong>在职销售</strong></h5>
                           </div>
                           <div class="scroll_model">
                            <dl style="border:0px">
                               
                                <dd>在职销售1</dd>
                                <dd>在职销售2</dd>
                                <dd>在职销售3</dd>
                                <dd>在职销售4</dd>
                                <dd>在职销售5</dd>
                                
                            </dl>
                        </div> 
                     </div> 
                   </div> 
                
                <div class="modal-footer footer">
                    <button type="button" class="button button-primary button-small modal-button">提交</button>
                </div>
            
            </div>
            </div>
        </div>
    </div>

    <!--*************模态框结束*************-->

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>

</body>

</html>