<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>

</head>

<body>
    <div class="title-search-div row">
        <h3 class="menu-title">用户授权</h3>
    </div>
    <div class="users-role-container">
        <div class="col-md-5 users-role-box">
            <dl>
                <dt>组织架构</dt>
                <dd>
                    <i class="icon icon-yuan users-item-i"></i>
                    <a class="users-item-a">高管</a>
                    <!--

                    <dl class="users-role-inner-dl">
                    </dl>
-->
                </dd>

                <dd>
                    <i class="icon icon-sanjiaoyou users-item-i" data-refresh-item="fgs"></i>
                    <a class="i-user-checked users-item-a">江苏绿能宝融资租赁有限公司</a>

                    <dl class="users-role-inner-dl">
                    </dl>
                </dd>
                <dd>
                    <i class="icon icon-sanjiaoyou users-item-i" data-refresh-item="fgs"></i>
                    <a class="users-item-a">江苏绿能宝融资租赁有限公司</a>
                    <dl class="users-role-inner-dl">
                    </dl>
                </dd>
                <dd>
                    <i class="icon icon-sanjiaoyou users-item-i" data-refresh-item="fgs"></i>
                    <a class="users-item-a">江苏绿能宝融资租赁有限公司</a>
                    <dl class="users-role-inner-dl">
                    </dl>
                </dd>
                <dd>
                    <i class="icon icon-sanjiaoyou users-item-i" data-refresh-item="fgs"></i>
                    <a class="users-item-a">江苏绿能宝融资租赁有限公司</a>
                    <dl class="users-role-inner-dl">
                    </dl>
                </dd>
            </dl>
        </div>
        <div class="col-md-7 users-role-box user-roles-box">
            <dl>
                <dt>
                    <lable>角色列表</lable>
<!--                    <i class="icon icon-tianjia"></i>-->
                    <div class="lines-item-icon">
     <!--                   <i class="icon icon-tianjia line-icon icon-primary" data-toggle="icon-tag" data-placement="bottom" title="添加"></i>-->
                    </div>
                </dt>
                <dd>
                    <a class="i-role-checked" href="javascript:void(0)">
                        <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    </a>
                    <div class="lines-item-icon">
                        <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
          <!--              <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>-->
                    </div>
                </dd>
                <dd>
                    <a href="javascript:void(0)">
                        <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    </a>
                    <div class="lines-item-icon">
                        <i class="icon icon-xiugai line-icon icon-highlight" data-toggle="icon-tag" data-placement="bottom" title="修改"></i>
             <!--           <i class="icon icon-shanchu line-icon icon-caution" data-toggle="icon-tag" data-placement="bottom" title="删除"></i>-->
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>
</body>

</html>